<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- value="mssql58|mssql12|oracle|mysql|db2" -->
    <properties>
        <property name="dialect" value="mysql" />
    </properties>
    
	<typeAliases>
		<typeAlias alias="dto" type="com.crm.dto.impl.BaseDto" />
		<typeAlias alias="user" type="com.crm.system.httpModel.model.User" />
 	</typeAliases>
 	
    <plugins>
        <plugin interceptor="com.crm.system.dialect.PaginationInterceptor" />	
    </plugins>
</configuration>