<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<plugins>
<!-- 		指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect, -->
<!-- 		PostgreSQLDialect,MySQLDialect,DerbyDialect,HSQLDialect -->
		<plugin interceptor="com.crm.system.interceptors.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.crm.system.interceptors.dialect.MySQLDialect"/>
		</plugin>
	</plugins>
</configuration>