<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.system.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.crm.system.model.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="deleteFlag" property="deleteflag" jdbcType="VARCHAR" />
    <result column="deptCode" property="deptcode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="carType" property="cartype" jdbcType="VARCHAR" />
    <result column="jdbh" property="jdbh" jdbcType="VARCHAR" />
    <result column="jxdm" property="jxdm" jdbcType="VARCHAR" />
    <result column="jxmc" property="jxmc" jdbcType="VARCHAR" />
    <result column="lxfs" property="lxfs" jdbcType="VARCHAR" />
    <result column="userType" property="usertype" jdbcType="VARCHAR" />
    <result column="zcrq" property="zcrq" jdbcType="DATE" />
    <result column="zjhm" property="zjhm" jdbcType="VARCHAR" />
    <result column="zjlx" property="zjlx" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, deleteFlag, deptCode, name, password, state, dept_id, address, bz, carType, 
    jdbh, jxdm, jxmc, lxfs, userType, zcrq, zjhm, zjlx
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qt_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qt_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crm.system.model.User" >
    insert into qt_sys_user (id, account, deleteFlag, 
      deptCode, name, password, 
      state, dept_id, address, 
      bz, carType, jdbh, 
      jxdm, jxmc, lxfs, userType, 
      zcrq, zjhm, zjlx)
    values (#{id,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{deleteflag,jdbcType=VARCHAR}, 
      #{deptcode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR}, #{cartype,jdbcType=VARCHAR}, #{jdbh,jdbcType=VARCHAR}, 
      #{jxdm,jdbcType=VARCHAR}, #{jxmc,jdbcType=VARCHAR}, #{lxfs,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, 
      #{zcrq,jdbcType=DATE}, #{zjhm,jdbcType=VARCHAR}, #{zjlx,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.system.model.User" >
    insert into qt_sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="deleteflag != null" >
        deleteFlag,
      </if>
      <if test="deptcode != null" >
        deptCode,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="cartype != null" >
        carType,
      </if>
      <if test="jdbh != null" >
        jdbh,
      </if>
      <if test="jxdm != null" >
        jxdm,
      </if>
      <if test="jxmc != null" >
        jxmc,
      </if>
      <if test="lxfs != null" >
        lxfs,
      </if>
      <if test="usertype != null" >
        userType,
      </if>
      <if test="zcrq != null" >
        zcrq,
      </if>
      <if test="zjhm != null" >
        zjhm,
      </if>
      <if test="zjlx != null" >
        zjlx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null" >
        #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="jdbh != null" >
        #{jdbh,jdbcType=VARCHAR},
      </if>
      <if test="jxdm != null" >
        #{jxdm,jdbcType=VARCHAR},
      </if>
      <if test="jxmc != null" >
        #{jxmc,jdbcType=VARCHAR},
      </if>
      <if test="lxfs != null" >
        #{lxfs,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="zcrq != null" >
        #{zcrq,jdbcType=DATE},
      </if>
      <if test="zjhm != null" >
        #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null" >
        #{zjlx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.system.model.User" >
    update qt_sys_user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        deleteFlag = #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null" >
        deptCode = #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        carType = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="jdbh != null" >
        jdbh = #{jdbh,jdbcType=VARCHAR},
      </if>
      <if test="jxdm != null" >
        jxdm = #{jxdm,jdbcType=VARCHAR},
      </if>
      <if test="jxmc != null" >
        jxmc = #{jxmc,jdbcType=VARCHAR},
      </if>
      <if test="lxfs != null" >
        lxfs = #{lxfs,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        userType = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="zcrq != null" >
        zcrq = #{zcrq,jdbcType=DATE},
      </if>
      <if test="zjhm != null" >
        zjhm = #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null" >
        zjlx = #{zjlx,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.system.model.User" >
    update qt_sys_user
    set account = #{account,jdbcType=VARCHAR},
      deleteFlag = #{deleteflag,jdbcType=VARCHAR},
      deptCode = #{deptcode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      carType = #{cartype,jdbcType=VARCHAR},
      jdbh = #{jdbh,jdbcType=VARCHAR},
      jxdm = #{jxdm,jdbcType=VARCHAR},
      jxmc = #{jxmc,jdbcType=VARCHAR},
      lxfs = #{lxfs,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=VARCHAR},
      zcrq = #{zcrq,jdbcType=DATE},
      zjhm = #{zjhm,jdbcType=VARCHAR},
      zjlx = #{zjlx,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>